<div class="header">
  <h1 >Welcome to Application</h1>
</div>

<!-- 
<div class="content-body">
  <router-outlet></router-outlet>

</div> -->


<mat-horizontal-stepper linear>

  <mat-step [stepControl]="formGroup1">
    <form [formGroup]="formGroup1">
      <mat-form-field>
        <input matInput placeholder="Enter First Name" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter Last Name" formControlName="firstCtlr" required>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value ? toppings.value[0] : ''}}
            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
              (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>

      
      
      <br>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </form>
  </mat-step>

  
  <mat-step [stepControl]="formGroup2">
    <form [formGroup]="formGroup2">
      <mat-form-field>
        <input matInput placeholder="Enter your Address" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Enter Last Name" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input text='email' matInput placeholder="Enter email" formControlName="secondCtlr" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value ? toppings.value[0] : ''}}
            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
              (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <br>
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>

      
      
      <br>
      <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
</form>
</mat-step>

<mat-step [stepControl]="formGroup3">
  <form [formGroup]="formGroup3">
    <mat-form-field>
      <input matInput placeholder="Enter your Address" formControlName="thirdCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter Last Name" formControlName="thirdCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

    
    
    <br>
    <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
</form>
</mat-step>

 <mat-step [stepControl]="formGroup4">
  <form [formGroup]="formGroup4">
    <mat-form-field>
      <input matInput placeholder="Enter your Address" formControlName="forthCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Enter Last Name" formControlName="forthCtlr" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>

    
    
    <br>
    <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
</form>
</mat-step>

<mat-step [stepControl]="formGroup5">
  <form [formGroup]="formGroup5">
    <h1>Congratulations on completing the Application form! </h1>
    
    
    
    <br>
    <button mat-raised-button color="accent" matStepperPrevious>Previous</button>
    
</form>
</mat-step> 
</mat-horizontal-stepper>
